<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="@string/app_name"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        tools:replace="android:supportsRtl"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2427194500639575~5148833442" />

        <activity android:name=".LegacyMainActivity" android:screenOrientation="sensorLandscape" />
        <activity android:name=".StatsActivity" android:screenOrientation="sensorLandscape" />
        <activity android:name=".StoreActivity" android:screenOrientation="sensorLandscape" />
        <activity android:name=".SettingsActivity" android:screenOrientation="sensorLandscape" />
        <activity android:name=".AchievementsActivity" android:screenOrientation="sensorLandscape" />
        <activity android:name=".ResultActivity" android:screenOrientation="sensorLandscape" />
        <activity android:name=".OpponentActivity" android:screenOrientation="sensorLandscape" />
        <activity android:name=".WinnerActivity" android:screenOrientation="sensorLandscape" />
        <activity android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity" android:excludeFromRecents="true" android:exported="false" />
        <activity android:name=".GameActivity" android:screenOrientation="sensorLandscape" />
        <activity android:name=".LoginActivity" android:screenOrientation="sensorLandscape" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="sensorLandscape">
            <meta-data android:name="io.flutter.embedding.android.NormalTheme" android:resource="@style/NormalTheme" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data android:name="flutterEmbedding" android:value="2" />
    </application>
</manifest>
